@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,500;1,600;1,700;1,800&family=Markazi+Text:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,700;1,800;1,900&display=swap');
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EDEFEE;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #495E57;
    border-radius: 10%;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;